<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}{% endblock %}
<link type="text/css" rel="stylesheet" href="/css/main.css" />
</head>
<body>
{% for message in app.flashes('error') %}
    <div class="alert alert-danger my-4">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success my-4">
        {{ message }}
    </div>
{% endfor %}
{% block body %}
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
